body {
    background-color: #7C3BBE;
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-container h1{
    font-size: 1.5em;
    color: #ffffff;
}